#changeTracker_panel
{
    -moz-appearance: none;
    border-radius: 4px;
    padding: 4px;

    iframe
    {
        width: 500px;
    }
}

body#changeTrackerFrame
{
    background: none transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .header
    {
        margin-bottom: 0px;
        color: rgb(125,125,125);
    }
    .old,
    .new
    {
        margin-top: 4px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .comment
    {
        color: rgb(125,125,125);
    }

    .old
    {
        color: rgb(170, 70, 70);
    }

    .new
    {
        color: rgb(70,170,70);
    }

    pre
    {
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}
